<ul class="nav ml-4">
  <li class="nav-item rounded-right">
    <a asp-controller="Hobbies" asp-action="Dashboard" class="nav-link">Dashboard</a>
  </li>

  <li class="nav-item rounded-right">
    <a asp-controller="Hobbies" asp-action="New" class="nav-link">Create a Hobby</a>
  </li>

  <li class="nav-item rounded-right">
    <a asp-controller="Home" asp-action="Logout" class="nav-link">Logout</a>
  </li>
</ul>